



 </body>


<!--Footer-->
<footer style="background:#131516"; class="page-footer blue center-on-small-only" >

    <!--Footer Links-->
    <div class="container-fluid" style="background:#131516;">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="title">CaRG</h5>
                <p>Super Cars across the world at one place. .</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="title">Follow Us On-</h5>
                <ul>
                    <li><a href="#!"><i class="facebook square icon"></i><i class="instagram icon"></i><i class="google plus square icon"></i><i class="linkedin square icon"></i><i class="twitter icon"></i></a></li>

                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright" style="background:#131516;">
        <div class="container-fluid">
            © 2018 Copyright: <a href="https://www.carg.com"> CaRG.com </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

</html>
