<% include ./partials/header %>



<div class="container">

    <div class="row">
         <div class="col-md-6 col-sm-12">
        <div class="thumbnail">
          <img src="https://photos-3.dropbox.com/t/2/AAAYVa86IP7ckjFzeqbMDBXpsuqQCh6UZwjLcmmxOMd2ZA/12/730625760/jpeg/32x32/1/_/1/2/SI_20171231_225820.jpg/ENCxk6EIGAMgBygH/wJGHOTib2bnumoRmifFeg0qyhxk-iRv4HlHbt60PSnw?size=1280x960&size_mode=3" >
          <div class="caption">
            <h3>Contact-Details</h3>
            <p>Vivek Singh</p>
            <p>Email-viksin672@gmail.com</p>
            <p>follow me on Linkdin-www.linkedin.com/in/vivek-singh-632964141</p>
              <p>follow me on github-www.github.com/viksin672</p>
            <input type="text" name="message" placeholder="Write message" style="color:white;">
            <p><a href="#" class="btn btn-primary" role="button">Send </a> </p>
          </div>
        </div>
      </div>
      </div>



</div>






<% include ./partials/footer %>
